@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}


input {
  font-size: 14px;

}

body {
  background-color: #2905a1;

  padding-bottom: 100px;
}

h2, h3 {
  margin: 0 0 .75em 0;
}

.container-center  {
  margin:auto;
}

.container {
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #FFF;
  text-align: center;
  display: flex;
}


.home-row{
  padding: 2px;
}



.form-row {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.form-row label {
  padding-right: 10px;
 flex: 1;
}

.form-row input {
    flex: 6;
   
}
.form-row textarea{
  flex: 6;

}

.column-layout{
  justify-content: center;
  background-color: #FFF;
  margin: 0px 20px 0 20px;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.main-column{
  flex: 1;
  order: 1;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.add-container {
display: flex;
}

.add-space{
  flex: 5
}
.add-button{
  flex: 1
}

.sidebar-one{
  text-align: center;
  flex: 1;
  order: 1;
}

.sidebar-form-row{
  padding: 5px 0;
  display: flex;
}


.sidebar-form-row label {
    padding-right:10px;
  flex: 1;
}

.sidebar-form-row input{
  flex: 2;
}


.form-container{
  display: flex;
}

.logoImg{
  height: 100px;
  width: 100px;
}

.logo{
  flex: 1;
}

.menuItem {
  flex: 5;
  margin:auto;
}


.logoItem {
  flex: 1;
}

.snippetContainer{
  justify-content: center;
  width:auto;
  background-color: #FFF;
  margin: 0 20px 0 20px;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ManagerReportContainer{
  justify-content: center;
  width:auto;
  background-color: #FFF;
  margin: 0 20px 0 20px;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
  flex: 1;
  flex-direction: row;
}


.overViewHomePage{
  justify-content: flex-end;
  width:auto;
  background-color: #FFF;
  line-height: 1.65;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  
}

.overViewManagerView{
  justify-content: center;
  width:auto;
  background-color: #FFF;
  line-height: 1.65;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  
}

.overViewHomePageColumn{
  justify-content: center;
  width:auto;
  flex: 1; 
}

.overViewManagerViewReport{
  justify-content: center;
  width:auto;
  flex: 5; 
}
.overViewManagerViewSideBar{
  justify-content: center;
  width:auto;
  flex: 1; 
}

.homePageIncomingRequests{
  text-align: right;
  margin-left: 70px;
  flex: 1; 
  
}

.sentRequestList{
  text-align: center;
  margin-left: 70px;
  flex: 1; 
  
}

.homePageContainer{
  justify-content: center;
  width:auto;
  background-color: #FFF;
  margin: 0 20px 0 20px;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.homepageContainer{
  margin: 20px 20px 0 20px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  flex: 5;
}

.text-center{
  text-align: center;
}

.homePageSideView{
  margin: 10px 40px 0 10px;
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
}

.homepageRow {
  padding: 5px 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin: auto;

}

.requestRow{
 margin-left: 250px;
 margin-right: 250px;

}
.ErrorText{
  color: red;
  text-align: center;
}

.menuBar {
  display:flex;
  background-color: #000000;
  flex-direction: row;
  margin: 10px 20px 10px 20px;
}

.menuBarColumn{
  margin-top: 5px;
  background-color: #000000;
}
.menuBarColumn-button{
  background-color: white;
  margin-right: 5px;
}

.form-row-submit{
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin:auto;
}